/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


html, body {
    height: 100%;
    width: 100%;
    padding: 0px;
}
body {
    /*height: 100%;*/
    overflow: hidden; /*esconder todas as scrollbars, em caso so seja preciso esconder so uma avisar para alterar*/
    display: flex;
    flex-direction: column;
}
#body-dash {
    background-color: rgba(0,0,0,0.05);
    background-image: url(../imgs/cross_transparent_2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1px;
    grid-template-areas: "dash-pio dash-caminh" "dash-explo dash-lob";
    padding: 0px 0px 0px 0px;
}

#dash-lob {
    grid-area: dash-lob;
    background: linear-gradient(to bottom right, rgba(255, 255, 0, 0.5) 0%, rgba(0, 0, 0, 0.05) 100%);
    transition: transform 1s;
}
#dash-lob:hover {
    transform: translate(10%, 10%);
}
#dash-explo {
    grid-area: dash-explo;
    background: linear-gradient(to bottom left, rgba(0, 255, 0, 0.5) 0%, rgba(0, 0, 0, 0.05) 100%);
    transition: transform 1s;
}
#dash-explo:hover{
    margin-top:0;
    margin-right:0;
    transform: translate(-10%, 10%);
}
#dash-pio {
    grid-area: dash-pio;
    background-image: linear-gradient(to top left, rgba(0, 0, 255, 0.5) 0%, rgba(0, 0, 0, 0.05) 100%);
    transition: transform 1s;
}
#dash-pio:hover {
    transform: translate(-10%, -10%);
}
#dash-caminh {
    grid-area: dash-caminh;
    background: linear-gradient(to top right, rgba(255, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.05) 100%);
    transition: transform 1s;
}
#dash-caminh:hover {
    transform: translate(10%, -10%);
}
/*#dash-caminh *, #dash-pio *, #dash-explo *, #dash-lob * {
    text-align: center;
}*/
.dash-img {
    width: 100%;
    height: 100%;
    /*border-image: url(../imgs/atividades.png) 0 0 0 0;
    -webkit-border-image: url(../imgs/atividades.png) 0 0 0 0;*/
}

#info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 3em 3em;
    grid-template-areas: "regulamento conta" "eventos eventos";
}
#eventos {
    grid-area: eventos;
}
#conta {
    grid-area: conta;
}
#regulamento {
    grid-area: regulamento;
}

#powell {
    background-image: url(../imgs/baden_powell_transparent_fig.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: calc(inherit / 2);
}
#login {
    display: table;
}

.split {
    height: 100%; 
    width: 50%; 
    position: fixed;
    overflow-x: hidden;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
    top: 0;
}
.left {
    left: 0;
    direction:rtl
}
.right {
    right: 0;
    direction: ltr;
}

#login form {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    margin: 0;
}
.button {
    border-radius: 12px;
}

.container {
    /*position: absolute;*/
    right: 0; /*nao alterar se nao da cabo da imagem... somehow -_-*/
    /*margin: 20px;
    max-width: 300px;
    padding: 16px;*/
    background-color: transparent;
    height: 30%; /*menor vai para cima*/
    width: 100%; /*can't see the diference*/
    /*vertical-align: middle;*/
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
}
.slide-tr /*up right*/ {
    -webkit-animation: slide-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
@-webkit-keyframes slide-tr {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
    }

    100% {
        -webkit-transform: translateY(-10%) translateX(10%);
        transform: translateY(-10%) translateX(10%);
    }
}
@keyframes slide-tr {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
    }

    100% {
        -webkit-transform: translateY(-10%) translateX(10%);
        transform: translateY(-10%) translateX(10%);
    }
}

.slide-br /*down right*/ {
    -webkit-animation: slide-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
@-webkit-keyframes slide-br {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
    }

    100% {
        -webkit-transform: translateY(10%) translateX(10%);
        transform: translateY(10%) translateX(10%);
    }
}
@keyframes slide-br {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
    }

    100% {
        -webkit-transform: translateY(10%) translateX(10%);
        transform: translateY(10%) translateX(10%);
    }
}

.slide-bl /*down left*/ {
    -webkit-animation: slide-bl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-bl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
@-webkit-keyframes slide-bl {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
    }

    100% {
        -webkit-transform: translateY(10%) translateX(-10%);
        transform: translateY(10%) translateX(-10%);
    }
}
@keyframes slide-bl {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
    }

    100% {
        -webkit-transform: translateY(10%) translateX(-10%);
        transform: translateY(10%) translateX(-10%);
    }
}

.slide-tl /*up left*/ {
    -webkit-animation: slide-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
@-webkit-keyframes slide-tl {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
    }

    100% {
        -webkit-transform: translateY(-10%) translateX(-10%);
        transform: translateY(-10%) translateX(-10%);
    }
}
@keyframes slide-tl {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
    }

    100% {
        -webkit-transform: translateY(-10%) translateX(-10%);
        transform: translateY(-10%) translateX(-10%);
    }
}



nav * {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    margin-bottom:auto;
    float:left;
    text-align:center;
}
h1 h2 h3 h4 h5 h6 {
    text-align: center;
}
table td {
    border: 2px solid black;
}
table th {
    border: 2px solid black;
}
.column {
    float: right;
    width: 25%;
    padding: 10px;
}



/*@media screen and (width: 600px) {
    #powell{
        display: none;
    }
    #login {
        background-image: url(../imgs/baden_powell_transparent_fig.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}*/
.row:after {
    content: "";
    display: table;
    clear: both;
}
* {
    box-sizing: border-box;
}


footer {
    text-align: center;
    padding: 3px;
    color: black;
    left: 0;
    bottom: 0;
    width: 100%;
 
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    padding-top: 20px;
}
    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }
        .sidenav a:hover {
            color: #f1f1f1;
        }
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

.main {
    margin-left: 140px; 
    padding: 0px 10px;
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}
.column {
    float: left;
    width: 30%; /*50% mete as coisas no meio*/
    padding: 10px;
    
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/*a cena e que nao da para adicionar um link to the image aqui no css */
/*ja consegui alinhar as animacoes, agr so preciso d fzr c q o texto fique em cada canto em vez do topo*/
/*right on it gonna see if there is a way to put/the animation ends  in the center */
/*n mexas na animacao
    como se costuma dzr, se funciona n mexas
    o q tou a dzr e p pegar no paragrafo ou no q tu quiseres q tenha o txt e por num canto
    eu dps vou por imgs numa metade d cada div,portanto vou ter d fzr 2 divs como no login*/
/*entao o que tas a dizer e dividir cada caixa e meter iuma imagen e texto como esta no log in?*/
/*yes*/
/*oki then, mas isso deve ser facil entao, nao envolve so o mesmo codigo do log in? claro com algumas alterações 
    se for necessário
*/
/*ainda tnh d fzr as imgs, mas o q te peco p fzrs e p veres como alinhar o texto ao canto*/
/*ok im right on it*/
/*ja dividi as cenas, so qr agr q alinhes ao canto*/
/*yea tou agora a acabar de ver isso*/
/*ok mostra me aqui onde o texto esta, as in which css thing is it located  */
/*btww ja que nao consigo fazer muita coisa tou a ver as cenas dos links*/
/*isto em ecras maiores ou menores n vai resultar
        hold up, eu vi uma resolucao na net*/
/*oki*/
/*so how does it look for u?*/
/*a c t u a l l y   c e n t e r e d
        you?*/
/*same*/
/*well i have to go make dinner , so see ya*/
/*ja?*/
/*now onto how to work with this shit*/ /*also have u been able to create the other files?*/
/*yea, i guess*/ /*well that's good news ;-; im sorry that i couldnt do much now*/
/*ainda tou a tentar perceber esta merda, portanto estamos os dois no caralho*/
/*oHo*/
/*eu tou a tentar perguntar ao professor se ele me consegue esclarecer nesta merda*/
/*okii*/
/*mas ele devE ESTAR NUMA CHAMADA AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/
/*aa indeed well today was kinda of a bust*/
/*ok back */
/*ok o que tenho de fazer hoje?*/
/*what stuff that I need to do*/
/*eu agr tou a ver um prob q temos c a insercao d escuteiros na tabela, tou a perguntar num discord server q criei ontem e q ja tem cerca d 90 pessoas dentro lmao
        original post here https://www.reddit.com/r/csharp/comments/gz2i8w/anyone_want_to_start_a_beginners_discord_support/ftgekta/?context=3*/
/*damm that's nice mas qual e o prob que esta a axontecerc */
/*cant insert cargos in the list<cargos> shit in the model*/
/*besides the obvious stuff did u see if everything is spelled corrrectly*/
/*i think so, the other fields are working fine, and i did spell it nice, if that wasnt the case i wouldve gotten an error already on the asp-for tag part (i think)
        also care to join the server? maybe can take some questions related to c# there, there are some c# veterans there*/
/*i guess i can join*/
/*send me an invite link */
/*its in the reddit post lmao
        go down the comment list
        i keep forgetting not to ping @everyone lmao*/
/*lol, well moving on o que e que eu tenho tratar em relação as views?*/
/*o q eu tava a pensar em relacao ao dashboard era fzr c q as labels fizessem fade in do centro do ecra p o centro do div respetivo
        tenta fzr isso e dps avancamos p o proximo passo*/
/*oki il start with it that*/
/*i t   t h a t*/
/*posso comecar o server real quicc? preciso d gravar um vid p o server*/
/*ok ja tenho a animação mas agora so falta resolver o fact de a animação ficar parado no sitio also brb  */
/*there esta com animation e esta centrado,o que falta fazer no log in?*/
/*fzr com q qd o ecra for pequeno apareca a img como fundo do form em vez d pareado, i think
    enquanto isso, vou tentando perceber como tratar do body do dashboard*/
/*podes dividir em 4 caixas e dp e so alterar cor*/
/*eu sei, mas o body ta a extender ate atras do footer qd n e suposto*/
/*oh oki*/
/*o login n ta centrado*/
/*nao tou a conseguir encontrar codigo codigo que faça o que tavas a pedir, e em relaçao
    ao log in, vou ja tratar disso*/
/*how about now? how does it looked?*/
/*answer in wpp*/
/*i saw it don't worry*/
/*try it now*/
/*whatsapp*/
/*por favor deixa isto estar como esta por agora*/
/*ok entao what should i do for now?*/
/*tentar ver como por a img a esquerda sem mexer na estrutura do form, apenas p o por a direita*/
/*oki vou ver isso entao*/
/*wait what happened? o coiso tava no meio*/
/*eu n fiz nd,ja ta assim ha bastante tempo*/
/*eu nao fiz nada eu passei maioria do tempo a procura de um cod... eu vou ver o que fiz*/
/*a cena e q eu queria incluir o corpo td e a assinatura, mas dps fica c um border q n sei tirar*/
/*nao ha algo do genero  de um image escale que podiamos utilizar? maybe com width 100 e height auto?  */
/*doesnt work*/
/*yeah saw it*/
/*da para utilizar java? in this project*/
/*nos ja temos um ficheiro javascript, mas eu queria evitar usar isso pq as pessoas podem desativa-lo*/
/*oh oki*/
/*hey queres parar por agora para ires estudar uma beca?*/
/*e dp continuamos?*/
/*se calhar e mlhr*/
/*ok lembra te com calma e boa sorte*/
/*habits*/
/*tens mais algumas ideias para o log in?*/
/*oh wait maybe we could add fb and insta button but for that i think we need those type of links that give us
    resources, idk what do u think?
*/
/*i think this should be better*/
/*u mean leaving less space open?*/
/*yea, and beautifying this*/
/*well we could add the footer and change the button style and some fonts but how about we try moving both of the st
    stuff more to the center the image a bit more.
*/

/*queres que eu tente puxar mais o log in para o centro da pag ou esta good e avanço para detalhes do log in ?*/
/*ta bom acho eu, deixa ver
    acho q deviamos tirar o footer e fzr c q o "benvindo ao scoutgest" fosse uma animacao em q aparecesse e
    desaparecesse 1 seg dps, p dps aparecer o form e a img dps disso*/
/*animaçao fine by me, mas achas que deviamos mesmo tirar o footer?*/
/*estorva um bocado*/
/*mmmm oki entao vou ja tirar e dp começo a tratar da animação*/
/*o prob e q o login da p fzr scroll horizontal, e n e suposto
    consegues tratar disso?*/
/*il see what i can do in the meantime vou tb ver essa parte da animação*/
/*mas trata primeiro do scroll*/
/*okii*/
/*scrollbar gone now animations and brb*/
/*im back*/
/*nav barr*/
/*!--nao tou a encontrar any other way than to dividir a parte onde estão as cenas em dois */
/*u there?*/
/*tou, so q tou a trabalhar numa cena diferente*/
/*okiii. btw ja ta ficar tarde e tenho de ir fzer o jantar e dp ou das me a resposta no whats ou amanha  */
/*posso começar?*/
/*sim mas queres dividiar a cena em dois?*/
/*yep*/
/*oki then*/
/*brb*/
/*can i start?*/
/*brb again lmao*/
/*okii*/
/*vou estar a ver os vids d formacao, qq cena manda p o whatsapp*/
/*tb*/
/*n acho q essa cor fique mt bem
        e tb acho q o navbar podia ficar d lado. o q achas?*/
/*o light green ye concordo, e em relação ao navbar, i guess mas tenho de ver como e que vou fazer isso mas tas 
        a falar tipo clica e aparece ou esta sempre la?*/
/*e fixo
        also brb*/
/*oki*/
/*bacc, i is*/
/*searching is a i*/

/*like it think it look good, but whatd do u think?*/
/*i dont have any fuckin idea, unless we mess up with the media tag*/
/*lunch time, see ya at 14h
    want me to let this open? i can do it*/
/*let me just try this then il go*/
/*u can turn it off */
/*cya at 14h then
        vais fzr o teste d melhoria?*/
/*i still haven't decided */