@model IEnumerable<ScoutGestWeb.Models.EventoViewModel>
@{
    ViewData["Title"] = "Página inicial";
}
<!--olha vou sair ara rearar o meu quarto q reunião-->
<!--<table>
   <thead>
       <tr>-->
<!--Campos da tabela th-->
<!--<th style="background-color:lightblue">ID do movimento</th>
<th style="background-color:lightblue">ID da caixa</th>
<th style="background-color:lightblue">ID do documento</th>
<th style="background-color:lightblue">Data</th>
<th style="background-color:lightblue">Valor</th>
<th style="background-color:lightblue">Descrição</th>-->
<!--</tr>-->
<!--</thead>
<tbody>
</tbody>-->
<!--@*using (MySql.Data.MySqlClient.MySqlCommand cmd = new MySql.Data.MySqlClient.MySqlCommand("select * from movimentos", new MySql.Data.MySqlClient.MySqlConnection("server=localhost; port=3306; database=scoutgest; user=root")))
    {
        @if (cmd.Connection.State == System.Data.ConnectionState.Closed) if (UserData.UserData.con.State == ConnectionState.Closed) UserData.UserData.con.Open();
        @using (MySql.Data.MySqlClient.MySqlDataAdapter da = new MySql.Data.MySqlClient.MySqlDataAdapter(cmd))
        @using (System.Data.DataSet ds = new System.Data.DataSet())
        {
            int _ = da.Fill(ds);
            @foreach (System.Data.DataRow row in ds.Tables[0].Rows)
            {
                <tr>
                    @for (int i = 0; i < ds.Tables[0].Columns.Count; i++)
                    {
                    <td>@row[i]</td>
                    }
                </tr>
            }
        }
    }*@-->
<!--<table>-->
<!-- transition: 0.3s;
 opacity:0;
 transition: opacity 1400ms;

    dentro do segundo css blabla:hover
   opacity: 1;
   -->



<div id="dash-pio">
    <a asp-action="Index" asp-controller="Atividades"><img src="~/imgs/atividades.png" class="dash-img" /></a>
</div>
<div id="dash-caminh">
    <a asp-action="Index" asp-controller="Tesouraria"><img src="~/imgs/tesouraria.png" class="dash-img" /></a>
</div>
<div id="dash-lob">
    <a asp-action="InfoLogout" asp-controller="Home"><img src="~/imgs/info_logout.png" class="dash-img" /></a>
</div>
<div id="dash-explo">
    <a asp-action="Index" asp-controller="InserirEscuteiro"><img src="~/imgs/escuteiros.png" class="dash-img" /></a>
</div>

<!--o que vi foi o text-align:right para css-->
<!--mas e p alinhar literalmente aos cantos d cada div-->
<!--entao tenta meter na classe topright-->
<!--waiiit,, nao isso e para dp meter na css.... deixa la ver outra maneira-->
<!-- a n g e r -->
<!--sorry-->
<!--try this : style= "position: absolute; top: 0; right: 0; width: 100px; text-align:right;"-->
<!--why dont u try it lmao, u have access to the file lmao-->
<!--i know, -->
<!--vou começar ok?-->
<!--acho que e so possivel meter o texto no canto com css, enquanto com html da para meter para a direita-->
<!--change of plans
    vou ao photoshop e meto o txt e a img num so, e dps faco isso como background
    dps a animacao do slide e so qd pusermos o rato em cima-->
<!--ok sounds good to me, e queres que eu va pesquisar como ativar a animação com mouse hover? -->
<!--isso e facil d fzr-->
<!--yeah but  idk how to do it, mas agora queres que eu faça o que?  -->
<!--vou agr almocar. vai vendo como e q transitions funcionam, pq somos capazes d ter d usar isso em vez das animations. brb
    https://www.w3schools.com/css/css3_transitions.asp -->
<!--oki e tb
    quando vieres avisa no whats-->
<!--i does have the bacc-->
<!--prontos tive a ver o que disseste e wut now?-->
<!--o q e q disse? e q precisamos d aplicar isso-->
<!--disseste para ver essa cena de transitions e dp mandas te link do w3schools -->
<!--e agr perguntei te o q e q dizia
    pq era p veres p dps vermos os dois como fzr isto-->
<!--basicamente e o que pensas, e uma acçao que acontece qunado fazes mouse hover e para fazer iss e bueda facil
    imagina num div esta la as propriedades mais a ação principal que queres que acontecça dp metes outra vez div mas
    com :hover e dp metes o que queres que acontecça, -->
<!--deixa tar os divs como tao, vou tentar fzr isto-->
<!--vou meter aqui o cod em comentario for u to see it
    dentro do primeiro css blabla-->
<!--n era o fadein q queria lmao, eu ja mostro o q era
    deixa so testar-->
<!--pera so um bocado
    pds ver como ta-->
<!--oh oki-->
<!--whaddya thincc?-->
<!--looks nice but u know that the thingies r going behond the other things like the footer/ and header.-->
<!--sim mas o navbar n vai fzr nd nessa pag, portanto n faz mal nenhum-->
<!--oki then, so now wut  -->
<!--acho q podemos entretanto por o body p tras c o z-index
    era isso q tavas a querer dzr?-->
<!--mas meter o body para tras pq?-->
<!--n tavas a dzr q se sobrepunha ao header e ao footer?-->
<!--ah sim sim-->
<!--acabei d testar. a cena e, dps n da p interagir c a pag-->
<!--maybe what we  could do em vez de meter o body para tras metemos as outras cenas para a frente,  -->
<!--n da mm p interagir sem vir p a frente do footer e do header
    mas p mim ja me parece bem, mm q dps d por imgs-->
<!--então se para ti ja parece bem , vamos continuar com as cenas, btw brb-->
<!--me bacc, so next item on the menu.. is...plz tell me ;3; -->
<!--me putting the imgs on the div. but 1st lemme edit them
    meanwhile look into the other views e tenta ter ideias p por um ar mais escutista-->
<!--basicamente as minhas ideias so envolviam meter uma imagem relacionada com escuteiros/natureza como bc
    essas imagens iriam ter uma beca de see through pq acho que o branco com essas imagens da ideia de calma
    serenidade, etc.., tb uma  pequena alteração de cores por alem disso não assim grande coisa, talvez
    possamos(se quiseres e claro)meter  que quando a pessoa faz refresh a cor do header or
    something muda para outra cor clara. tb meti comentario em cada um a dizer qual imagen iria ser colocada.
    what do u think?-->
<!--mas escolhe tds do mm tipo. e desta vez anota p n me perguntares outra vez lmao-->
<!--sim sao do tipo escuteiro/amizade/natureza e ja anotei as possiveis alterações -->
<!--Aqui achas que o light blue fica bem?-->
<!--n ta mal
btw n te importas q corra um teste?-->
<!--sure go ahead-->
<!-- oops ran w/o debugging lmao
guess its better-->
<!--yeah i guess-->
<!--que tal passar as letras a preto? ou fica melhor branco?-->
<!--as letras ja n tao a preto?-->
<!--acho que sim mas aqui no codigo nao estou a muda las para preto so idk-->
<!--ja ta a preto-->
<!--entao queres deixar a ppreto ou passamos a branco? -->
<!--acho q fica mlhr a preto
mas em vez d pormos os movimentos pomos as atividades
eu mando o esquema da tabela p o whatsapp p modelares a tabela aqui-->
<!--oki then-->
<!--dps faz se outro botao p os movimentos
mas agr se calhar deviamos tar a tratar da discriminacao do acesso no login-->
<!--u mean os niveis de acesso?-->
<!--exactly-->
<!--entao o que podiamos fazer e adicionar um campo na tabela e metelos la 1,2,3 e cada nivel corresponde
ao nivel de acesso, eu fiz assim no trabalho de psi-->
<!--eu ja tnh um campo na tabela q e p os niveis d acesso
eu mando p o whatsapp-->
<!--entao o que precisa de ser tratado no log in se ja fizeste essa parte?-->
<!-- se calhar tratar de criar novas views ou criar logica p modificar esta
p as outras contas, pq a q temos tado a usar ate agr foi a d administrador-->
<!--oh oki got it-->
<!--u have to create the file pq i can't-->
<!--mas qrs criar mais ficheiros? ou e demasiado trab p ti tar a modificar
esta d raiz?-->
<!--idk tippo eu nao sei pq eu penso que cada ficheiro da view é tipo uma pagina eu ainda nao
percebi bem este modelo -->
<!--qd eu pus o viewbag.user no cabecalho la em cima tava a imaginar em
modificar esta pag p cada utilizador, mas se queres fzr paginas diferentes tamos bem-->
<!--podemos utilizar este assim nao temos ainda mais ficheiros-->
<!-- ent vou so criar um bocado mais d cod no controller p fzr isso-->
<!--oki enquanto fazes isso eu vou ja pensado no cod-->
<!--hey want to turn in for today or do u want to continue for a bit?-->
<!-- eu ainda vou continuar en e so um bit, ainda vai ser um bom bocado-->
<!--ok quando poderes ve se esta tudo bem com o meu cod-->
<!--eu vou ja-->
<!-- o q e este codigo td? n queres por isto na master page? -->
<!--tava a ver codigo que era necessario e aquele que nao era para fazer a pagina inicial-->
<!-- mas se calhar usavas a master page p por esta cena
btw pds usar o ficheiro css dentro do wwwroot p o estilo da pag, ja vai estar incluido na master page-->
<!-- oki let me just see what we can use que dp passo as cenas para a sua respetiva area-->
<!--its fuckin weird that c# interpreta instrucoes mm qd comentadas
   broke dick piece of shit-->
<!--well whats the thing que esta documentada e mesmo assim continua ? just copy and paste para um bloco
assim o erro sai e tb nao perdes o cod-->
<!--tambem smp podiamos comentar em razor, assim tb n corria lmao-->
<!--oh oki. then wut?-->
<!--vou começar -->
<!--i just found out i kinda can make a fuckin method inside a fokken method
what magic is this-->
<!--a wizard did it-->
<!--isto é a pagina de inicio nao é?-->
<!--nope, isto e dps do login-->
<!--Entao dp do login podera estar varios buttons onde o trabalhador dp carrega num-->
<!--os botoes sao certos xd, mas temos d pensar no ui e ux
eu tb ja tava a pensar em botoes c as operacoes-->
<!--Entao para o ui podemos seguir o que  estava a pensar metemos em cima mas debaixo do header, no topo pode estar
algum genero de mensagem que ja tens ai, no lado esquerdo pode estar algumas informaçoes tipo sobre o local do
trabalho, e no meio e direita algumas dicas de como ser um trabalhor eficiente?-->
<!--a cena e q isto e p os escuteiros xd
idk-->
<!--entao em vez de ser dicas de como ser um trabalhador eficiente, as dicas são como ser um bom colega de trabalho
e tb no header dp da mensagem de boas vindas metemos tipo uma frase motivadora?-->
<!--a frase motivadora p mim td bem, mas se calhar em vez d dicas d como ser um bom colega punhamos isso e mais outras cenas quaisquer-->
<!--sinto q essa do ser um bom colega d trabalho e uma indireta p mim-->
<!--nao dude. tipo tu ja que se tinha alguma coisa para dizer dizia, eu so tou a tentar ajudar pq u know this is our work
believe me isso nao foi indireta-->
<!--ik, eu so tava a gozar xd, calm down lmao-->
<!-- -3- -->
<!-- >:) -->
<!--ok continuando XD em vez de essa de como ser um bom trabalhador que tal algumas regras de escuteiros?-->
<!--seems gud, i often forget those xd-->
<!--ok then a pagina que esta dp do login parece me estar bem, oproximo assumnto em relação as outras paginas é
preciso falar sobre elas, ou preferes falar quando passarmos para elas?-->
<!-- p mim falamos enquanto fazemos, n deve ser mt dificl d fzr-->
<!-- lemme just check the ops i had-->
<!--oki dude, ja sabes alguma coisa diz, em caso precisares de ajuda com o codigo eu ajudou mas nao garanto nads, tb
eu tb tou ainda a ver os videos por isso em caso precisares de algum em especifico eu vejo e dp digo te-->
<!-- c o codigo so far so good xd-->
<!--Queres que eu fique mais uma beca ou ja anao é preciso?-->
<!--eu tava agr a fzr um bocado dos layouts desta pag, se quiseres ficar pds ficar, tu e q sbs-->
<!--ok entao vou sair e vou continuar a ver os videos, ja sabes alguma coisa avisa-->
<!-- :ok_hand:-->
<!-- in this file -->
<!-- it gives me some weird shit -->
<!-- vamos ver se da p testar isto em live share -->
<!-- did u get something? -->
<!--Sim esta agora a carregar-->
<!-- user AdminAgr, pass adminagr -->
<!-- vais ver um 25 bue estranho -->
<!-- u must be here xd -->
<!--um 25 bue estranho?-->
<!--Martins u there?-->
<!-- sry went to bathroom, am back-->
<!-- mas sim, um 25 literalmente acima da tabela, with no meaning whatsoever-->
<!--Uhmm weird, no código nao tens la nada, talvez seja alguma cena de um outro ficheiro -->
<!-- mas chegaste a ver onde estava dps d executar? -->
<!--nao mas eu executo outra vez, tens de ser tu a executar o cod -->
<!-- there -->
<!-- u see it? -->
<!--ainda nao começou-->
<!-- dei permanent allow -->
<!--nao me apareceu nenhum 25  -->
<!-- u sure? a mim aparece, hold up-->
<!--yeah nao me apareceu nenhum 25-->
<!-- check whatsapp -->
<!--ah mas eu nao consigo chegar ai-->
<!-- como assim?-->
<!--tu estas a fazer o log in?-->
<!-- yh -->
<!-- entao eu nao sei qual e o user name e a pass para ir para ai -->
<!-- mas eu ja te tinha escrito, bruh -->
<!--oh sorry entao wait a moment-->
<!-- weird, right -->
<!--Yeah wtf.. em que ficheiro está o codig daquela pagina?-->
<!-- this one -->
<!-- try saving e closing dp se isso nao resultar talvez seja uma coisa da bd mas duvido muito -->
<!-- aight, brb -->
<!--se nao resultar entao deve ser algum ficheiro daqui que tem instruçao para escrever alguma coisa-->
<!-- must be the controller somehow, smh -->
<!--Mas prontos tenta isso se nao resultar procura aqui um ficheiro com o 25 escrito-->
<!-- aight, brb, ja mando outra vez o link -->
<!-- let us check again, shall we -->
<!--yeah-->
<!-- nope, still there, deve ser no controller-->
<!--yeah entao ve la-->
<!-- a cena e q n me parece q seja la, pq aparece dps d fzr o draw da view, ou seja deve estar p aqui somewhere -->
<!-- acho q d certo modo sou capaz d sbr -->
<!--yeah eu tb tou a achar que deve ser de um dos loops mas nao tenho a certeza-->
<!-- a mim parece me ser o da.fill, pq as vezes qd se escreve qq cena em razor, o metodo pd retornar qq cena, e o razor tb interpreta isso como texto p apresentar
eu agr n consigo testar a mnh teoria pq o meu vs n deve ter ativado o intellisense-->
<!--oki, then tenta compilar o codigo para ver se consegues ver o que aconteceu nesse loop em expecifico, -->
<!-- o meu vs ta tao lixado q nem me deixa meter breakpoint xd -->
<!-- lemme restart vs, ja mando o link again -->
<!-- ja percebi o problema, o da.fill retorna um int, p isso e q aparece um 25
se eu usar um discard var, deve desaparecer-->
<!--Tb entao lets do it and see if it works-->
<!--enquanto fazes isso eu vou comentado o codigo-->
<!--era o da.fill q tava a estragar isto td -->
<!--yay XD-->
<!-- se quiseres pds ficar p vermos a questao do layout e das funcoes -->
<!--Ok, vamos começar pelas funções (o que a tesouraria deve fazer?) gerir o dinheiro da associação, organizar
as contas que a associação tem de pagar, falta mais o q?-->
<!-- idk mt bem, n tinha pensado nisto mt bem qd tava a pensar nisto. a cena q pensei agr durante o estagio e q podiamos misturar esta app c a app final q eu entreguei, p gestao d atividades
which means 2 sets of buttons -->
<!--essa parte da mistura ya mas agora querers fazer a tesouraria mesmo ou preferes essa cena de gestao de atividades?-->
<!--tava a pensar comecar pelo layout desta pag agr-->
<!--Esta pagina vai servir como o q?-->
<!-- uma especie d entryway dps do login -->
<!--tipo a pagina da eped onde o user tem varias opçoes?-->
<!-- yh -->
<!--Entao o que podemos fazer é meter as opçoes em cima na horizontal , e dp o user escolhe o que quer fazer por ja podemos
fazer isso por enquanto-->
<!-- Да -->
<!--em caso que tb queiras, se quiseres fazer um diferent aproach é na boa-->
<!-- mas era esse approach q eu tava a pensar xd, vams se clahra e ter d calhar criar um layout diferente p esta pag-->
<!--entao que tal metermos  radio buttons e o utilizador dp de checkar um carrega num botao e dp e levado a pagina que escolheu?-->
<!--hhhmmmm, eu tava a pensar num dropdown ou da maneira q eu tava a fzr-->
<!-- podemos fazer um dropdown  -->
<!-- Да -->
<!--ok what does that mean? XD-->
<!-- means yes in russian, it reads "da", which means yes in common language -->
<!-- oh oki XD. em relação ao layout desta pagina é preciso falar sobre mais alguma coisa? -->
<!-- precisamos d desenvolver, and maybe we should both do it for both of us to gain exp -->
<!--oki fine by me-->
<!--but now how r we going to do this?-->
<!-- what is a fuckin partial view? u checked this? i didnt yet
nvm, ima create another layout
u can still explain, i still wanna know xd-->
<!--Partial views basicamente servem para nao repetir um codiog, serve para os outros irem ai e ver o codigo que tem de ser executado-->
<!-- basically stack overflow then-->
<!--yea-->
<!--basicamente .... oki XD-->
<!-- se calhar n pomos aqui os movimentos, pomos ca os eventos
eu vou criar um controller p os movimentos
btw me goes to wc, and maybe wont return for the morning, since i still need to cook lunch
do what u want to do, and then talk to me in wpp-->
<!--eu daqui bocado tb vou comer, mas dp vou estudar para o teste-->
<!--ent acabamos p hj?-->
<!--yeah i guess mas se voltares ao codigo e precisares de ajuda avisa-->
<!--:ok_hand:-->
