@{
    ViewData["Title"] = "Página inicial";
}

<div id="dash-pio">
    <a asp-action="Index" asp-controller="Atividades"><img src="~/imgs/atividades.png" class="dash-img" /></a>
</div>
<div id="dash-caminh">
    <a asp-action="Index" asp-controller="Movimentos"><img src="~/imgs/tesouraria.png" class="dash-img" /></a>
</div>
<div id="dash-lob">
    <a asp-action="InfoLogout" asp-controller="Home"><img src="~/imgs/info_logout.png" class="dash-img" /></a>
</div>
<div id="dash-explo">
    <a asp-action="Index" asp-controller="Escuteiros"><img src="~/imgs/escuteiros.png" class="dash-img" /></a>
</div>