@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Informação e Logout";
    string username = (await UserManager.GetUserAsync(User)).NormalizedUserName;
}

<div>
    <aside class="sidenav">
        <br />
        <div style="padding: 3px 3px 6px 3px">
            <ul>
                <li class="linksInfoLogout">
                    <a asp-action="Index">Voltar</a>
                    <br />
                </li>
                <li class="linksInfoLogout">
                    <a asp-action="LogOut">Logout</a>
                    <br />
                </li>
            </ul>
        </div>
    </aside>
</div>
<div class="mainBody">
    <h1 style="text-align: center">Informações e Logout</h1>
    <p style="text-align: center">Sessão iniciada como utilizador: <b>@User.Identity.Name (@username)</b></p>
    <br />
    <div class="bordlogout" style="padding-left: 10px;">
        <h2 style="text-align: center">Informação geral</h2><hr />
        <p>Benvindo/a à aplicação ScoutGest. Esta aplicação foi criada com o objetivo de ajudar líderes de grupos de escuteiros com a gestão de várias informações, tais como: </p>

        <p>-Gestão de atividades;</p>
        <p>-Gestão de escuteiros;</p>
        <p>-Gestão de grupos</p>
    </div>
    <br />
    <div class="bordlogout" style="padding-left: 10px; position: relative">
        <h2 style="text-align: center">Contactos</h2><hr />
        <p style="line-break: normal">Esta aplicação web foi criada pelos programadores João Martins e João Jesus. Se tiver uma dúvida ou sugestão, ou ocorrer um erro na aplicação, poderá contactar-nos através das seguintes formas:</p>
        <br />
        <p><b>João Martins</b></p>
        <p>Email: falso@email.com.pt</p>
        <p>Telemóvel: (+351) 961234578</p><br />
        <p><b>João Jesus</b></p>
        <p>Email: email@falso.net</p>
        <p>Telemóvel: (+351) 912345678</p>
    </div>
    <br />
</div>