
@{
    ViewData["Title"] = "InfoLogout";
}

<h1>InfoLogout</h1>

<form method="get" asp-action="LogOut" asp-controller="Home">
    <button type="submit">Logout</button>
</form>

<div id="info-grid">
    <div id="eventos"></div>
    <div id="conta"></div>
    <div id="regulamento"></div>
</div>