@model ScoutGestWeb.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<html translate="no">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - ScoutGest</title>
        <link rel="icon" href="~/imgs/favicon.ico" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js"></script>
    </head>
    <body class="row">
        <div class="split left" id="powell"></div>
        <div class="split right" id="login">
            <form asp-action="Index" method="post">
                <h2>Login</h2>
                <div class="bg-danger rounded-lg text-center">@Html.ValidationSummary(false)</div>
                <label asp-for="Username">Username: </label>
                <input asp-for="Username" /><br />
                <div class="bg-danger rounded-lg text-center">@Html.ValidationMessageFor(x => x.Username)</div>
                <label asp-for="Password">Password: </label>
                <input asp-for="Password" type="password" /><br />
                <div class="bg-danger rounded-lg text-center">@Html.ValidationMessageFor(x => x.Password)</div><br />
                <button class="btn btn-primary" type="submit">Login</button>
            </form>
        </div>
    </body>
</html>