@{
    ViewData["Title"] = "Tesouraria";
}

<h1 style="text-align: center; z-index:2; margin-top:10%">Tesouraria</h1>
<br />

<div class="toptesoura" style="z-index:2">
    <div class="tesoura-group">
        <a style="width: inherit" asp-action="Index" asp-controller="Caixas"><button>Caixas</button></a>
        <a style="width: inherit; margin-left:5px" asp-action="Index" asp-controller="TiposDocs"><button>Documentos</button></a>
        <div class="tesoura-group" style="margin-top:9px">
            @if (User.IsInRole("Administração de Agrupamento"))
            {
              <a style="width: inherit" asp-action="Index" asp-controller="TiposPags"><button>Pagamentos</button></a>
            }
            <a style="width: inherit; margin-left:5px;" asp-action="Index" asp-controller="Movimentos"><button>Movimentos</button></a>
        </div>
    </div>
</div>


<!--<div style="height:100%">
    <h1 style="text-align: center; z-index:2; position:absolute; margin-left:50%">Tesouraria</h1>
    <br />
    <div class="toptesoura" style="z-index:2; position:absolute; margin:10%">
        <button><a style="width: inherit" asp-action="Index" asp-controller="Caixas">Caixas</a></button>
        <button><a style="width: inherit" asp-action="Index" asp-controller="TiposDocs">Documentos</a></button>
        <button><a style="width: inherit" asp-action="Index" asp-controller="TiposPags">Pagamentos</a></button>
        <button><a style="width: inherit" asp-action="Index" asp-controller="Movimentos">Movimentos</a></button>
    </div>
</div>-->
<!--Cód antigo AQUIIII-->
<!--<form asp-action="Index" asp-controller="Caixas" method="get">
    <button class="bordtesoura" type="submit">Caixas</button>
    </form> <br />
    <form asp-action="Index" asp-controller="TiposDocs" method="get">
        <button class="bordtesoura" type="submit">Documentos</button>
    </form><br />
    <form asp-action="Index" asp-controller="TiposPags" method="get">
        <button class="bordtesoura" type="submit">Pagamentos</button>
    </form><br />
    <form asp-action="Index" asp-controller="Movimentos" method="get">
        <button class="bordtesoura" type="submit">Movimentos</button>
</form>-->
<!--em caso for necessário acrescentar buttons
<!-- <form asp-action="Index" asp-controller="" method="get">
    <button class="bordtesoura" type="submit">Consultas</button>

<form asp-action="Index" asp-controller="" method="get">
    <button class="bordtesoura" type="submit">Análises</button>
</form>-->
<!--<form asp-action="Index" asp-controller="Caixas" method="get">
    <button type="submit">Caixas</button>
</form>-->
<!--<style>
    body {
           background-image: url("back_tesouraria.png");
           background-repeat: no-repeat;
           background-attachment: fixed;
           background-size: cover;
    }
    </style>
    .imgbc {
        background-image: url("~/imgs/back_tesouraria.png");
        height: 100%;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }


     <style>
        body {
            background-image: url("back_tesouraria.png");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
-->