@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align: center">Tesouraria</h1>

<div class="bordtesoura">
    <form asp-action="Index" asp-controller="Caixas" method="get">
        <button class="bordlogout" type="submit">Caixas</button>
    </form>
    <form asp-action="Index" asp-controller="TiposDocs" method="get">
        <button class="bordlogout" type="submit">Documentos</button>
    </form>
    <form asp-action="Index" asp-controller="TiposPags" method="get">
        <button class="bordlogout" type="submit">Pagamentos</button>
    </form>
    <form asp-action="Index" asp-controller="Movimentos" method="get">
        <button class="bordlogout" type="submit">Movimentos</button>
    </form>
</div>
<!--<form asp-action="Index" asp-controller="Caixas" method="get">
    <button type="submit">Caixas</button>
</form>-->
