@{
    ViewData["Title"] = "Tesouraria";
}

    
<h1 style="text-align: center">Tesouraria</h1> <br />
<div class="toptesoura">
    <button><a style="width: 100%" asp-action="Index" asp-controller="Caixas">Caixas</a></button>
    <button><a style="width: 100%" asp-action="Index" asp-controller="TiposDocs">Documentos</a></button>
    <button><a style="width: 100%" asp-action="Index" asp-controller="TiposPags">Pagamentos</a></button>
    <button><a style="width: 100%" asp-action="Index" asp-controller="Movimentos">Movimentos</a></button>
</div>
<!--Cód antigo AQUIIII-->
<!--<form asp-action="Index" asp-controller="Caixas" method="get">
    <button class="bordtesoura" type="submit">Caixas</button>
    </form> <br />
    <form asp-action="Index" asp-controller="TiposDocs" method="get">
        <button class="bordtesoura" type="submit">Documentos</button>
    </form><br />
    <form asp-action="Index" asp-controller="TiposPags" method="get">
        <button class="bordtesoura" type="submit">Pagamentos</button>
    </form><br />
    <form asp-action="Index" asp-controller="Movimentos" method="get">
        <button class="bordtesoura" type="submit">Movimentos</button>
</form>-->







<!--em caso for necessário acrescentar buttons
<!-- <form asp-action="Index" asp-controller="" method="get">
    <button class="bordtesoura" type="submit">Consultas</button>

<form asp-action="Index" asp-controller="" method="get">
    <button class="bordtesoura" type="submit">Análises</button>
</form>-->
<!--<form asp-action="Index" asp-controller="Caixas" method="get">
    <button type="submit">Caixas</button>
</form>-->
