@{
    Layout = "_MasterPage";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Análise - ScoutGest</title>
</head>
<body>
    @Html.Raw(ViewBag.teste)
</body>
</html>
