
@{
    ViewData["Title"] = "Movimentos contra o orçamento - Tesouraria";
}

<h1>MovOrcam</h1>

<div style="margin: auto; text-align: center">
    @using (Html.BeginForm("MovOrcam", "Movimentos", FormMethod.Post))
    {
        @if (TempData["errAtiv"] != null)
        {
            <div class="bg-danger rounded text-center"><b>@TempData["errAtiv"].ToString()</b></div>
        }
        <label>Atividade: </label>
        <select name="ativ">
            @foreach (string s in ViewBag.ativs)
            {
                <option>@s</option>
            }
        </select><br />
        <button type="submit">Gerar relatório</button>
    }
</div>