@model ScoutGestWeb.Models.MovimTransfViewModel
@{
    ViewData["Title"] = "Transferencia";
}

<h1>Criar nova transferência</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Transferencia">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (User.IsInRole("Administração de Agrupamento"))
            {
                <div class="form-group">
                    <label asp-for="IDCaixaOrigem" class="control-label">Caixa de origem</label>
                    <select asp-for="IDCaixaOrigem" class="form-control">
                        @foreach (string s in ViewBag.caixas)
                        {
                            <option>@s</option>
                        }
                    </select>
                    <span asp-validation-for="IDCaixaOrigem" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="IDCaixaDestino" class="control-label">Caixa de destino</label>
                <select asp-for="IDCaixaDestino" class="form-control">
                    @foreach (string s in ViewBag.caixas)
                    {
                        <option>@s</option>
                    }
                </select>
                <span asp-validation-for="IDCaixaDestino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDDocumento" class="control-label"></label>
                <select asp-for="IDDocumento" class="form-control">
                    @foreach (string s in ViewBag.documentos)
                    {
                        <option>@s</option>
                    }
                </select>
                <span asp-validation-for="IDDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataHora" class="control-label"></label>
                <input asp-for="DataHora" class="form-control" />
                <span asp-validation-for="DataHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoPagamento" class="control-label"></label>
                <select asp-for="TipoPagamento" class="form-control">
                    @foreach (string s in ViewBag.pagamentos)
                    {
                        <option>@s</option>
                    }
                </select>
                <span asp-validation-for="TipoPagamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

