@{
    Layout = null;
}

<html lang="pt-pt">
    <head>
        <meta name="viewport" content="width=device-width" initial-scale="1" charset="windows-1252" />
        <title>@ViewData["Title"] - ScoutGest</title>
        <link rel="icon" href="~/imgs/favicon.ico" />
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <link href="~/css/site.css" rel="stylesheet" />
        <script src="~/js/site.js"></script>
    </head>
    <body class="text-dark" style="background-color: rgba(0, 0, 0, 0.05);">
        <!--Header-->
        <div class="container-fluid bg-dark text-white pt-1 pb-1 pr-3 pl-3">
            <partial name="Partial/_Header" />
        </div>
        @{
            string title = "";
            try
            {
                title ??= ViewData["Title"].ToString();
            }
            catch (NullReferenceException)
            {
                title = "ScoutGest";
            }
        }
        @if (title != "Página inicial")
        {
            <!--<ul class="nav container-fluid text-center">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index"><h6>Página Inicial</h6></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Atividades" asp-action="Index"><h6>Atividades</h6></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="" asp-action=""><h6>Tesouraria</h6></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="" asp-action=""><h6>Contactos</h6></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="" asp-action=""><h6>Regulamento</h6></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="LogOut"><h6>Log out</h6></a>
                </li>
            </ul>
    
    
    
            <aside class="sidenav">
                <a asp-action="Index" asp-controller="Home">Início</a>
                <a asp-action="Index" asp-controller="Atividades">Atividades</a>
                <a asp-action="Index" asp-controller="Tesouraria">Tesouraria</a>
                <a asp-action="">Contactos</a>
                <a asp-action="">Regulamentos</a>
                <a asp-action="LogOut" asp-controller="Home">Logout</a>
            </aside>-->
            <div class="container-fluid animate__animated animate__fadeIn overflow-auto" style="margin:auto">
                @RenderBody()
            </div>
        }
        else
        {
            <div class="container-fluid animate__animated animate__fadeIn" id="body-dash">
                @RenderBody()
            </div>
        }
        <!--Footer-->
        <footer class="footer bg-dark text-white text-center">
            ASPNET.CORE &copy; @DateTime.Now.Year, Criado por João Martins e João Jesus
        </footer>
    </body>
</html>

<!--<label>Aqui o texto antes do dropdown</label>
    <select label="Tesouraria">
        <option>Tesouraria</option>
        <optgroup label="Entradas">
            <option>Criar</option>
            <option>Editar</option>
            <option>Remover</option>
        </optgroup>
        <optgroup label="Despesas">
            <option>Criar</option>
            <option>Editar</option>
            <option>Remover</option>
        </optgroup>
        <optgroup label="Transf. dinheiro entre caixas">
            <option>Criar</option>
            <option>Editar</option>
            <option>Remover</option>
        </optgroup>-->
<!--<option value="o que acontece">texto dessa opção</option>-->
<!--adicionei aqui cenas-->
<!--im going now when ur mom is finish don't forget to sent it to me the thing -->
<!--este e o container que tem o header right or nah? tou a falar daquele que e um container escuro-->
<!--pega na ferramenta d inspecao do chrome e ve lmao-->
<!--whryyyyy isn't it starting? i know i read the error but still-->
<!--come again? o q e q n ta a comecar?-->
<!--o prog, quero começar para inpeencionar a cena -->
<!--eu ja comecei-->
<!--mine didn't -->
<!--side bar-->
<!--o side bar esta a meter se no meio do caminho, e p alem disso n e suposto aparecer no dashboard-->
<!--tou a tratar disso-->
<!--posso testar uma cena?-->
<!--yes but can i also log in?-->
<!--ainda n tratei desse assunto-->
<!--ok entao testa la e dp faço eu-->
<!--go on, also brb-->
<!--ye can't really start is giving me an error also brb-->
<!--queres que o navbar esteja no lado esquerdo ou direito?-->
<!--normalmente sidebars estao sempre do lado esquerdo-->
<!--i know so tou a perguntar pq uma das pags, nao sei se e mais. esta a ficar atras do navbar -->
<!--qual?-->
<!--a que vi foi aquela com os tempos e dias a 00, acho que e das atividades-->
<!--tudo bem. mas n te esquecas q o dashboard n e suposto ter o sidebar-->
<!--e nao tem-->
<!--se fosse a ti comecava p desviar a pagina em vez d criar o sidebar em cima d td-->
<!--ok, ill see how i do that-->
<!--how do i make it that this get's called to the other pages?-->
<!--so i put asp-action and put like Dashboard and it will appear on the dashboard? dude eu vi os videos
mas ja foi algum tempo mesmo antes de nos termos começado isto tudo-->
<!--parece q n viste os videos da formacao lmao no offense
smp q quiseres meter um link avisa, pq eu tnh d meter os metodos nos controllers-->
<!--tb-->
<!--can i start?-->
<!--ha qt tempo tas a mnh espera?-->
<!--1 ou 2 mins-->
<!--u may start-->
<!--
 /*oops sry my bad
            //its alright at least nao foi um grande prob
            //ja falei c o stor acerca disto, ele mandou me uns links p remediar. vai ser um grande pain in the ass p fzr as migrations tds
            //remediar? and yeah mas nao podes simplesmente mandar isto em zip para ele?
            /*eu ja disse ao stor como e q tinha feito, e ele recomendou-me usar o identity q o asp.net tem
            a cena e q eu n criei o projeto c a parte do identity, portanto vou ter d criar manualmente agr*/
            //ouch e ha alguma coisa que eu possa fazer para ajudar te nisso?
            /*deixa mandar te os links e tu avalias, hold up
            pq eu tb n sei se preciso d ajuda ou n lmao*/
-->
<!--brb-->
<!--oki lets get back to businsess-->
<!--qd eu faco commit das cenas, aparece no teu lado q eu tnh um commit p fzr push?-->
<!--nope a unica -->
<!--but does u have something saying it is in source control? or does it say anything at all on the lower right corner?-->
<!--no can't see anything saying that-->
<!--gonna start ok?-->
<!--yea-->
<!--what did you make?-->
<!--retirei o texto antes da coisa, diminui as letras e tb fiz com que o container nao ficasse tao grande so yeah o-->
<!--tb temos d tratar d centrar o navbar e criar o look p o login-->
<!--oki vou começar pelo nave bar e dp vou para o log in-->
<!--so, a mnh mae teve uma ideia p a view d inicio
    ela disse q dps ia fzr um esquema no corel, eu dps converto e mando te no wpp-->
<!--ta td a correr bem? ja fizeste alguma cena?-->
<!--sim mas tbh acho que nao tou a contribuir o suficiente u know :v-->
<!--mas o q e q fizeste ate agr?
    just curious-->
<!--bem tive a organizar os nosso comentarios, adicinei alguns em algumas partes, tb mudei so algumas cenas tipo
    titulos, dp tb dei um pouco de visual flare-->
<!--ja tou a ver q n tas a ter mts ideias p isto
    imo a img d fundo do header n fica mt bem, achas q es capaz d pensar em alguma ideia?-->
<!--tas te a referir a cor ou ao arco iris que fizeste? ou header no geral-->
<!--tava a referir ao arco iris, mas se tiveres mais alguma ideia p alterar forca-->
<!--then how about tiramos acho qyue a imagem com o titulo ficaria bem num fundo branco-->
<!--tu ficaste d tratar da parte grafica, tu sbs
    can i does the start?-->
<!--yeee-->
<!--hello there decidi por uma biblioteca css d animacoes q encontrei ha pelo menos uns meses atras-->
<!--o que e que eu tenho para fazer hoje?-->
<!--continuar o q temos d fzr, views e censura d login
e obviamente o resto do trabalho-->
<!--so basically tenho de começar as views para as outras oçoes-->
<!--mas ainda n comecaste as views?-->
<!--nao pq tava concentrado na master page-->
<!--alias nem consigo criar as outras views-->
<!-- como e q n consegues? deves ter permissao d escrita-->
<!--a unica cena que consigo criar e um novo arquivo que e so um txt file-->
<!--ent diz me qd quiseres criar views e da o nome
    ou ent eu crio os controllers p as cenas e dps crio as views
    hold up-->
<!--im holding-->
<!--tou a criar os controllers lmao-->
<!--oki oki-->
<!--pds editar as views q tens agr, dps crio novas
    tou so a resolver um problema-->
<!--ok will do-->
<!--just wanted to test foooter-->
<!--yep-->
<!--o que achas da area do evento?-->
<!--acho q so falta meter uma foto a esquerda. vou tratar da tabela agr-->
<!--brb-->
<!--tb eu posso tratar do cod enquanto tu pegas numa imagem-->
<!--Em que sitio esta os comentarios que fizemos antes da ´hora do almoço?-->
<!--no mm sitio lmao
    deve tar no home controller no final do ficheiro-->
<!--oki thnaks-->
<!--J a fizeste a parte do codigo onde se meter um user vai para um sitio se meter outro vai para para outro? -->
<!--ainda temos tb d tratar do q aparece na view
    mas acho q n-->
<!--oki so tou a perguntar pq a cena da lista de escoteiros ta a aparecer em ciima das cenas que eu criei, e tratar d
    do q?-->
<!--esse botao so vai aparecer qd se fizer login como admin
    um exemplo do q temos d tratar-->
<!--e como e que sujere tratar disso?-->
<!--razor nas views
    eu dou um exemplo
    hold up-->
<!--esta merda teve uma excecao e agr n me deixa entrar no dashboard-->
<!--queres fechar o prog e voltar a abrir?-->
<!--obvio-->
<!--oki-->
<!-- fazemos ja uncomment p ver?-->
<!--i guess mas a cena e que tenho medo se o cod nao tiver no sitio certo-->
<!-- p isso e q vamos fzr build lmao-->
<!--oki then-->
<!-- ainda n fizemos uncomment lmao-->
<!-- lets go -->
<!--commit & push to repo done-->
<!--oki, quando acabarmos por hoje vou la buscar para tb ter no meu pc-->
<!--:ok_hand:
    mas d cada vez q fizer um commit & push, dps hais ter d sacar essas alteracoes p o teu pc
    d tds as vezes q acontecer-->
<!--yeah but i don't mind tbh having at least the copy of or work it makes me feel better XD bcz things can happen -->
<!--metes aqui os campos temos de ver se isto funciona-->
<!--dafuq? is this tag a thing?-->
<!--que tal meter a imagem como background?-->
<!--era o q tava a fzr, bruh xd-->
<!--pensei que querias meter no header-->
<!--btw toma atenção as horas-->
<!--ah yes, me be recordin if u need something-->
<!-- e tava a meter no header xd-->
<!--e como eu disse em caso o stor dizer que e para eu estar na reuniao manda me mensagem, e lol XD acontece -->
<!--o teams diz q a reuniao e as 16h30
    portanto mais 1h15 p nos-->
<!--oki then, podes so ver se o drop down funciona? e btw lol ja da para ver mais um bocadinho XD-->
<!--deixa so criar uma pag d teste-->
<!--oki-->
<!-- my error, my bad-->
<!--its alright tbh it's funny when out of nowhere an error comes on my screen XD-->
<!-- tinha escrito viewbag em vez d viewdata xd-->
<!--there u go, ur test-->
<!--im not ready for this test XD-->
<!--u more ready than me, u knew this and i didnt, eu tive a fzr a pag enquanto olhava p os exemplos dos tutoriais
    do asp.net antigo xd-->
<!--se quiseres podes ver os videos, ainda tens tempo, o stor deu nos ate dia 22-->
<!--MAS O TESTE N E DOS MODS 9 E 10? caps xd e acho q ja sei a resolucao-->
<!--ah tas a falar disso eu pensei que tivesses a falar do asp.net-->
<!-- tb eu, mas n sabia q tinhamos teste d asp.net dia 22-->
<!--o teste e de mod 10 so no worries-->
<!-- Y O U   G O T   M E   A   C A R D I A C   A R R E S T-->
<!--sorry x\-->
<!--dp faz copy paste para teres a quantidade que queres-->
<!--se quiseres eu posso mandar pic do codigo-->
<!--yeah we did it XD-->
<!--</select>-->
<!--so
    web state report
    divs are okay
    so precisamos d ver como e q pomos links neles agr-->
<!--can't we just turn the text into a button or something similar  -->
<!--well, i think not, o texto faz parte da img-->
<!--entao a imagem? como link?-->
<!--well, its background, and i tried that. fucks up the entire structure. go ahead if u wanna try it. imgs tao devidamente labeled-->
<!--let me just see a thing befoe trying-->
<!--show me which file the images r por favor-->
<!--teem os nomes devidos, n e dificil-->
<!--eu tou a falar se ja meteste o codigo aqui para eu ir ao codigo e ver se da para meter a imagem como link -->
<!--ta no css-->
<!--mudar as cores para um verde mais agradavel, ou um azul tb agradavel onde no container com o titulo em vez ser
    branco poderia ser relva, ou ficava branco(claro com o logo) e o head mudava para uma  cor -->
<!--este e onde ta a ser usado o main. n comentes, e necessario p mostrar a pag bem--><!--mas a cena e que o main que meti no css tava a afetar o main do dashboard-->
<!--havia algum main no dashboard?
o dashboard sao so as caixas d selecao, e n encontrei nada d mal-->
<!--desculpa quis dizer index das atividades-->
<!--esse main das atividades tava a funcionar com o main do css foi assim que consegui puxar o texto para o lado
    do nav-->
<!--ok nvm ja consegui tratar da situacao do margin-->
<!--ok thats good now wuts next?-->
<!--hold up-->
<!--holding up-->
<!--whatsapp-->
<!--qunandd-->
<!--preciso d ir fzr o jantar
    mas querias ligar o server?-->
<!--nao eu ia dizer em caso precises do cod do side navbar avisa me que tenho aqui e so fazer cp -->
<!--ainda n tiveste a fzr isso?-->
<!--ia alterar o sitio daqui na master mas dp tu disseste que tratavas disso por isso eu tive a ver as fontes, ver algumas imagens,e tb
    a ver algumas cenas relacionadas com o side nav-->
<!--qd e q disse q ia tratar disso?-->
<!--se nao disseste entao peço desculpa, percebi mal.p-->
<!--d qq modo eu vou precisar dela, mas n hj. amnh tratamos disso-->
<!--tb entao xau ate amanha-->
<!--<div id="starter" class="animate__animated animate__fadeOut animate__delay-2s" style="position: absolute;">
    <h1>Benvindo/a ao ScoutGest, <br /> @*ScoutGestWeb.UserData.UserData.userData["User"]*@</h1>
</div>-->