@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!DOCTYPE html>
<html translate="no">
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <title>Movimentos</title>
    </head>
    <body class="bg-white">
        <style>
            tr {
                page-break-inside: avoid;
                page-break-after: auto;
                text-align: center;
            }
            body {
                overflow:initial;
            }
        </style>
        <div class="container-fluid bg-light text-center border-primary header p-1">
            <h1 style="color:rgb(82, 82, 82); margin-top: auto"><img src="~/imgs/logo.png" style="width: 3%; margin: 3px 0px 3px 0px;"><br />ScoutGest</h1>
        </div>
        <br />
        <div>
            @if (ViewData["parametros"] != null)
            {
                <p><b>Parâmetros</b>: @ViewData["parametros"]</p>
            }
            @RenderBody()
        </div>
    </body>
</html>