@model ScoutGestWeb.Models.InserirEscuteiroViewModel
@*{ ScoutGestWeb.Models.Cargos[] cargos = Model.cargos;}*@
<label asp-for="Cargo">Cargo:</label>
<div>
    @for (var i = 1; i < 12; i++)
    {
        <input id="@Model.Cargo[i - 1].Cargo.ToLower()" type="checkbox" asp-for="@Model.Cargo[i].Selecionado" onclick="return selectiveCheck()" />
        <label asp-for="Cargo[i]">@Model.Cargo[i - 1].Cargo</label>
        <input type="hidden" asp-for="Cargo[i].Cargo" />
        <br />
    }
</div>
<div class="bg-danger rounded-lg text-center">@Html.ValidationMessageFor(x => x.Cargo)</div>