@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!--O que aparece no topo com o titulo-->
<div class="container-fluid bg-light text-center border-primary header p-1">
    <h1 style="color:rgb(82, 82, 82)"><img src="~/imgs/logo.png" style="width: calc(100% / 40); margin: 3px 0px 3px 0px;">  ScoutGest</h1>
</div>
<!--Tava talvez a pensar em meter uma cor para o header but idk what do u think?-->
<!--q cor e q punhas?
    eu se calhar punha um gradient amarelo-verde claro-azul-vermelho-verde escuro
    pq sao as cores dos lencos dos escuteiros onde ando-->
<!--that sounds like a good idea mas dp nao ficaria demasiado cores?-->
<!-- vamos ver como fica e dps tiramos conclusoes-->
<!--Oki-->
<!--brb-->
<!--im back-->
<!--Onde esta o botao de criar novo escoteiro?-->
<!-- not yet created
    im having an headache with the gradient-->
<!--then lets forget the gradient--->
<!-- a menos q eu faca uma img c isso
    ima do it real quicc -->
<!--oki then-->
<!--the docs are yours-->
<!--??? quais docs?-->
<!--the whole graphic part of it-->
<!--wait sorry but ???-->
<!--hey eu sei que nao fizemos muito mas acho que deviamos ficar or aqui hoje, ainda tenho de ir fazer o jantar e
    ja sao quase 19h see u tomorrow? -->
<!-- dsclp n ter ontem visto as msg, estava concentrado na questao do gradient-->
<!--Dont worry its alright tb se aparecesse algum prob tinhamos o whats/discord/normal messages-->